.h5-discover {
    color: #3E3E3E;
    font-size: 18px;
    padding: 0px 0px 24px 0px;
    font-weight: 700;
}

.div-form-card-items {
    display: flex;
}

.div-card-items {
    padding: 8px 8px 10px 8px;
    width: 200px;
    height: 290px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-radius: 5px;
    margin-right: 24px;
}

.card-img-top {
    width: 184px;
    height: 184px;
}

.card-body p {
    font-size: 12px;
}

.p-name {
    margin-top: -20px;
}

.body-p {
    height: 32px;
    margin-bottom: 16px;
}

.button-front-items {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 30px;
    border-radius: 50%;
    top: 1580px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
}

.button-back-items {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50px;
    top: 1580px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    border-radius: 50%;
}

.div-icon-favorite {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 1450px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    margin-right: 300px;
}

.icon-favorite {
    width: 14.67px;
    height: 13.33px;
}

.div-info-product {
    margin: 48px 0px 32px 0px;
}

.div-list {
    width: 200px;
    text-align: center;
    margin-right: 16px;
    border-bottom: 1px solid #E9E9E9;
}
.div-card-item-list {
    display: flex;
    margin-top: 48px;
}

.div-card-item-1 {
    background-image: url("../../../assets/images/ABC/unsplash_M7cQqGjBNm8.png");
    width: 312px;
    height: 418px;
    margin-right: 24px;
}

.div-card-item-2 {
    width: 312px;
    height: 418px;
    background-color: #FBF7D3;
}
.div-content-item-2-1 {
    padding: 36px 56px 0px 56px;
}
.div-content-item-2-2 {
    padding: 0px 24px;
    margin-bottom: 12px;
}
.div-content-item-4-2 {
    padding: 0px 24px;
    margin-bottom: 12px;
    margin-top: 0px;
}
.image-2 {
    width: 200px;
    height: 180px;
    border-radius: 5px;
}
.div-content-item-2-3 {
    display: flex;
    padding: 0px 24px;

}
.div-color-1{
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #7CB93E;
}
.div-color-2{
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #33ABC6;
}
.div-color-3{
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #1CCD8D;
    
}
.div-color-4{
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #3F65EA;
}
.div-color-5{
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #F64A69;
}
.div-color-6{
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #A635EC;
}
.div-color-7{
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #F9A85D;
}
.div-content-item-2-4 {
    margin-top: 24px;
    padding: 0px 24px ;
    margin-bottom: 24px;
    font-size: 14px;
}
.div-card-item-3 {
    background-color: #FFBDBD;
    width: 312px;
    height: 418px;
    margin-left: 24px;
}
.div-content-item-2-2 {
    padding: 24px 56px 0px 56px;
}
.div-card-item-4 {
    background-color: #C0ABFD;
    width: 312px;
    height: 418px;
    margin-left: 24px;
}
.div-form-bottom {
    margin-top: 48px;
    padding-left: 0px;
}
.div-icon-favorite-1 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 2370px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    margin-right: 300px;
}