.grid-header {
    height: 152px;
    background-color:  #FFF9F3;
    top: 0;
    padding: 24px 0px;
    z-index: 1000px;
}
.e-commerce {
    color: #EB6D20;
    padding-top: 17px;
}   
.div-input {
    background: #FFFFFF;
    border-radius: 50px;
    padding: 8px 12px 8px 8px;
}
.select-catogories {
    border-radius: 50px;
    padding: 8px 24px 8px 24px;
    border: none;
    background-color: #F5F6F8;
    color: #3E3E3E;
}

.input-search {
    border: none;
    width: 100%;
    font-size: 20px;
    padding-top: 2px;
}
.button-search {
    border: none;
    background-color: #FFFFFF;
}
.fa-search{
    color: #5F5F5F;
    font-size: 20px;
    padding-top: 8px;
}
.button-help {
    padding: 16px 30px 16px 30px;
    background-color: #EB6D20;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    border: none;
    border-radius: 50px;
}
.div-icon {
    padding-top: 13px;
    margin-left: 8px;
}
.ul-header{
    list-style: none;
    padding-left: 0px;
    display: flex;
    padding-top: 40px;
}
.ul-header li a {
    color: black;
    text-decoration: none;
    padding-right: 48px;
}
.ul-header li a:hover {
    color: #EB6D20;
    text-decoration: underline solid #EB6D20;
}