.div-subscriber {
    background-color: #5959D9;
    width: 1320px;
    height: 306px;
    padding: 40px 0px 48px 112px;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 48px;
}
.form-subsriber-input {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.form-input-subsriber {
    width: 648px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 50px;
}
.input-email-sub {
    border: none;
    background:none;
    margin-left: 30px;
    margin-top: 10px;
    width: 100%;
}
.btn-sub{
    border: none;
    background-color: #EB8426;
    padding: 8px 20px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    margin-left: 15px;
    color: white;

}
.btn-sub:hover{
    color: green;
}
.div-a-ready {
    margin-top: 20px;
    text-align: center;
}
.div-a-ready a {
    color: white;
}
.div-a-ready a:hover {
    color: orange;
    text-decoration: underline;
}
.div-bottom {
    height: 48px;
    justify-content: center;
    background-color: #F5F6F8;
    color: #040404;
    margin-top: 48px;
    display: flex;
    align-items: center;
}
.p-div-bottom {
    margin-top: 15px;
    color:#040404;
}