.div-find-product {
    margin: 48px 0px;
}

.word-find {
    color: #3E3E3E;
    font-size: 18px;
    font-weight: 700;
}

.only-on {
    color: #9A9A9A;
    font-size: 14px;
}

.div-form-image {
    display: flex;
}
.form-image {
    display: flex;
    flex-direction: column;
    
}
.p-image {
    font-weight: 500;
    padding-left: 10px;
    margin-top: 32px;
}

.div-image {
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 144px;
    height: 144px;
    margin-right: 24px;
}

.button-front-products {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 30px;
    border-radius: 50%;
    top: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
}
.button-back-products {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50px;
    top: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    border-radius: 50%;

}