.div-footer {
    margin: 40px 0px;
}

.h5-ecomerce {
    color: #EB6D20;
    margin-bottom: 40.82px;
}

.fa-facebook {
    padding: 8px;
    color: #FFFFFF;
    background-color: #1877F2;
    border-radius: 50%;
    margin-right: 16px;
}

.fa-twitter {
    padding: 8px;
    color: #FFFFFF;
    background-color: #1DA1F2;
    border-radius: 50%;
    margin-right: 16px;
}

.fa-linkedin {
    padding: 8px;
    color: #FFFFFF;
    background-color: #2867B2;
    border-radius: 50%;
    margin-right: 16px;
}

.fa-dribbble {
    padding: 8px;
    color: #FFFFFF;
    background-color: #EA4C89;
    border-radius: 50%;
    margin-right: 16px;
}

.div-footer ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 24px;
}

.div-footer ul li a {
    margin-top: 12px;
    color: #292929;
    text-decoration: none;
}

.div-footer ul li a:hover {
    text-decoration: underline;
    padding-left: 10px;
    transition: all 0.3s;
}

.div-terms {
    display: flex;
    flex-direction: row;
}

.div-terms a {
    color: #3E3E3E;
    text-decoration: none;
}

.div-terms a:hover {
    color: #EB8426;
}

.a-terms {
    margin: 0px 48px;
}

.button-scroll {
    border: none;
    background: none;
    color: #3E3E3E;
    text-align: end;
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    right: 7%;
    padding: 5px 20px;
}
.button-scroll:hover {
    background-color: #1DA1F2;
    border-radius: 20px;
    color: #FFFFFF;
}