.div-carousel {
    height: 614px;
    background-image: url("../../../assets/images/Rectangle\ 122.png");
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-word {
    color: #FFFFFF;
    padding-left: 80px;
}
.div-button {
    padding-right:40px ;
}
.button-front {
    width: 48px;
    height: 48px;
    background-color: gray;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 16px;
}
.button-back {
    width: 48px;
    height: 48px;
    background-color: gray;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.div-card {
    margin-top: 40px;
}
.div-card-1 {
    width: 424px;
    height: 174px;
    border-radius: 5px;
    background: #F5F6F8;
    margin-right: 24px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}
.div-card-2 {
    width: 424px;
    height: 174px;
    border-radius: 5px;
    background: #F5F6F8;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.div-card-3 {
    width: 424px;
    height: 174px;
    border-radius: 5px;
    background: #F5F6F8;
    display: flex;
    justify-content: space-between;
    padding: 24px;

}
.b {
    padding-top: 21px;
}